<h1>New Note</h1>

<%= form_with model: @note do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @note.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
    <% @note.errors.full_messages_for(:content).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :user_id %><br>
    <%= form.collection_select :user_id, User.all, :id, :name %> <!-- Assuming users have a name attribute -->
    <% @note.errors.full_messages_for(:user_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
